h1,h3{
    text-align:center;
    color:white;
}
.left{
    display: block;
    margin-left:1px;
    margin-right:10px;
}
form{
    font-size:large;
    padding-left: 30%;
    color: white;
}
#fname {
  margin-left: -1px;
}
input{
  outline: none;
  border: transparent;
  border-radius: 80px;
  border-width: 50%;
}
textarea{
  outline: none;
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
